/*Fancy Ampersands
 */

@font-face {
	font-family: Ampersand;
	src: local('Palatino-Italic'),local('Garamond-Italic'), local('Baskerville-Italic'), local('GoudyOldStyleT-Italic');
	unicode-range: U+26;
}

h1 {
	font-family: Ampersand, Helvetica, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body */

body {
	max-width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	font-family: 'Open Sans', sans-serif;
}

/* header */
body > header {
	width: 20%;
	border: 2px solid #000;
	border-left: 0;
	border-top: 0;
	color: #000;
	transition: .5s all ease;
}

body > header:hover{
	background-color: #BB2253;
	color: #fff;
	border-left: 0;
	border-top: 0;
}

body > header:hover a{
	color: #fff;
	fill: #fff;
}

body > header:hover img{
	border: 5px solid #fff;
}

body > header h1 {
	text-align: center;
	margin-top: .5em;
	font-family: Ampersand, Helvetica, sans-serif;
}

body > header figure {
	margin: .5em 0;
	text-align: center;
}

body > header figure img {
	width: 50%;
	border-radius: 50%;
	border: 5px solid #EC185D;
	transition: .5s all ease;
}

body > header p {
	text-align: center;
}

body > header nav {
	margin-top: 2em;
}

body > header nav ul li {
	padding: 1em 1.6em;
	list-style-type: none;
	vertical-align: middle;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: .5s all ease;
}

body > header nav ul li:hover {
	background-color: rgba(255,255,255,0.1);
}

body > header nav ul li a {
	text-decoration: none;
	color: #000;
	transition: .5s all ease;
}

body > header nav ul li svg {
	width: 1.5em;
	height: 1.5em;
}

a[href="#profile-picture"], a[href="#password"], a[href="#photo-albums"], a[href="#find-friends"] {
	fill: #EC185D;
}

/* main */
main {
	width: 80%;
	padding: 0 2em;
}


/* first article */
main > article:first-of-type {
	margin-top: 1em;
	padding: 2em;
	color: #000;
	border: 2px solid #000;
	position: relative;
	transition: .5s all ease;
}

main > article:first-of-type:hover{
	background-color: #FFB383;
	color: #fff;
}

main > article:first-of-type header h1{
	font-size: 2em;
}

main > article:first-of-type header h1 span {
	font-size: .8em;
	font-weight: lighter;
}

main > article:first-of-type header h2 {
	margin: .5em 0;
	font-weight: lighter;
	font-style: italic;
}

main > article:first-of-type p {
	margin-top: 1em;
}

main > article:first-of-type a {
	color: #000;
}

/* password */
#password {
	width: 25%;
	margin: 2em 0;
	padding: 16px;
	padding: 1rem;
	border: 2px solid #000;
}

#password header {
	margin: 1em 0;
}

#password fieldset {
	border: none;
}

#password fieldset legend {
	margin: 1em 0;
}

#password fieldset label input {
	display: block;
	width: 100%;
	margin: 1em 0;
	border: none;
	border-bottom: 2px inset #000;
}
#password:hover button{
	background-color: #FFB383;
	color: #fff;
}

#password fieldset label input:focus {
    outline: none;
}

#password fieldset button {
	margin: 1em 0;
	padding: 1em;
	background-color: #fff;
	color: #000;
	font-size: 1em;
	border: 2px solid #000;
	transition: .5s all ease;
}
   

/* photo-albums */
#photo-albums {
	margin: 2em 0;
	padding: 2em 0;
	text-align: center;
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
	transition: .5s all ease;
}

#photo-albums:hover{
	background-color: #FF9171;
	color: #fff;
}

#photo-albums header {
	margin: 0 0 1em 2em;	
	text-align: left;
}

#photo-albums figure {
	width: 45%;
	margin: 0 0.5em;
	display: inline-block;
}

#photo-albums figure img {
	width: 100%;
}


/* footer */ 
footer {
	width: 100%;
	padding: 16px;
	padding: 1rem;
	border-top: 2px solid #000;
	color: #000;
	transition: .5s all ease;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

footer:hover{
	background-color: #BB2253;
}

footer:hover *{
	color: #fff;
}

footer *{
	color: #000;
	transition: .5s all ease;
}
footer address {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	    -ms-flex-order: 1;
	        order: 1;
}

footer ul li {
	list-style-type: none;
}


/* mediaqueries */

@media only screen and (max-width: 850px) {
	
	/* header */
	body > header{
		width: 100%;
	}
	
	body > header figure img {
		width: 25%;
		border-radius: 50%;
		border: 5px solid #6D86B3;
	}


	body > header nav {
	     padding: 0; 
	}
	
	body > header nav ul {
		text-align: center;
	    overflow: scroll;
	    height: 30vh;
	}

	body > header nav ul li {
	    display: inline-block;
	    width: 40%;
	}
	
	/* main */
	main {
	    width: 100%;
	}
	
	/* password */ 
	#password{
		width: 100%;
	}

	/* footer */ 
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		text-align: center;
		font-size: .9em;
		padding: .5em 0;
	}

	footer > nav, footer > ul {
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 650px) {
	#photo-albums figure {
	    width: 80%;
	}
}
